
/* --------------------------1 profile page---------------- */
/* link above */
.profile_link {
    color: black;
    font-size: large;
    text-decoration: none;
}

.profile_link h4{
    color: black;
    margin-top: 10px;
}

/* profile image
 */
#profile_image
 {
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
    margin-right: 25px;
 }

 #profile_owner{
margin-top: 50px;
 }
.profile_success{
    width: 60%;
    height: 100px;
    text-align: center;
    margin:auto;

}

#post_title{
    text-align: center;

}
#post_info_div,#comment_info_div{
    margin-top: 20px;
    text-align: center;

}
#post_time,#post_owner{
    color: red;
}
#comment_time,#comment_owner{
    color: blueviolet;
}

.post_div{
    border-radius: 5px;
    margin-top: 40px;
    border: 2px solid #145;
}
.comments_div{
width: 70%;
margin: auto;
margin-top: 20px;


}

/*  post images */
/* Three image containers (use 25% for four, and 50% for two, etc) */



  /* image gallary */
  .gallery-item{
	max-width: 100%;
}
.gallery{
	background-color: #dbddf1;
	padding: 80px 0;
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

/* --------------------------2 profile  Edit page---------------- */
#form_title{
text-align: center;
}
 .one_row{

    display: flex;
    flex-direction: row;
 }

 .one_row>div{
     margin-left: 50px;
 }
 .all_form{
     margin-top: 100px;
 }
input{
    width: 350px;
    height: 50px;
}
textarea{
    margin-top: 30px;
    vertical-align: middle;
}
#textarea_{
    margin-left: 100px;
    margin-bottom: 30px;
}

#text_area_label{
text-align: center;}

.custom-file{
    margin-top: 20px;
    margin-left: 100px;
}
#update_profile_btn
{

margin-left: 300px;
}
